#appswitcher-outer {
	z-index: 600;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#1f1f1f));
  
  /* Safari 5.1+, Chrome 10+ */
  background:  -webkit-radial-gradient(circle, #585E59, #1f1f1f);
  
  /* Firefox 3.6+ */ 
  background:  -moz-radial-gradient(circle, #585E59, #1f1f1f);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #585E59, #1f1f1f);

	opacity: 0.95;
	top: 0;
	left: 0;
	
}

#appswitcher-inner {
	z-index: 601;
	position: fixed;
	text-align: center;
	overflow: hidden;
	width: 80%;
	height: 230px;
	margin-top: -115px;
	top: 50%;
	margin-left: -10%;
	left: 20%;
	/* background: green;
	border-radius:10px; */
}

.appbox {
	width: 200px;
	height: 170px;
	display: inline-block;
	letter-spacing: normal;
	font-size: normal;
	white-space: normal;
	text-align: normal;
	vertical-align: middle;
}

.appbox {
	*display: inline;
	*margin: 0 10px;
}

.app-icon{
	position: relative;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	float: none;

}



.app-desc{
	position: relative;
	height: 70px;
	width: 100%;
	padding-top: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: #313131 1px 1px 2px;

}


#appswitcher-inner ul {
	padding: 0;
}



#appswitcher-inner ul li {
	float:left;
	list-style:none;
	width: 100px;
	height: 100px;
	margin-top: 1%;
	margin-right: 20px;
	text-align: center;
	position: relative;
	font-weight: normal;
}



#appswitcher-inner ul li a:link, #appswitcher-inner ul li a:visited{
	position: relative;
	text-decoration:none;
	height: 100%;
	width: 100%;
	color:#fff;
	display: block;
	font-size: 18px;
	border: 1px solid #fff;
	opacity: 0.4;
	background-color: #fff;
	border-radius:5px; /* CSS3 */
}

#appswitcher-inner img{
padding-top: 3px;
}
#appswitcher-inner .appbox.offline a{
    background-color:#DE595A;
    border: 1px solid #DE595A;
}
#appswitcher-inner .appbox.online a{
    background-color: #8ede83;
    border: 1px solid #8ede83;
}


#appswitcher-inner ul li a:hover,
#appswitcher-inner ul li a:focus {
	outline: 0;
	font-weight: bold;
	color: #1f1f1f;
	opacity: 1;
	box-shadow: 0 0 30px #000000;


}

.SwitcherDisabled{
	display: none;
}

#deviceselectorwrapper {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 60%;
    height: 10%;
}
#deviceselectorbtn {
    display: block;
    position: absolute;
    right: 10px;
    top: 15%;
}
#deviceselectorbtn a div{
    width: 50px;
    height: 50px;
    background: url('../images/deviceSelect.png');
}

#deviceselectorbtn a:hover,
#deviceselectorbtn a:focus{
    text-decoration:none;
    outline: 0;
}

#deviceselectorbtn.enabled a div{
    background: url('../images/deviceSelect_hover.png');
}

#deviceselectorbtn a:hover div{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

#deviceselectorbtnInfo {
    display: none;
    position: absolute;
    top: 30%;
    width: 150px;
    right: 30px;
    font-weight: bold;
    color: #deff00;
    font-size: .7em;/*18px;*/
    text-shadow: #313131 1px 1px 2px;
}
#deviceselectorbtn.enabled #deviceselectorbtnInfo {
    display: block;
}